<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table border="1">
        <thead>
            <td>Id</td>
            <td>Native English Speaker</td>
            <td>Course Instructor</td>
            <td>Course</td>
            <td>Semester</td>
            <td>Class Size</td>
            <td>Performance Score</td>
        </thead>
        {% for row in rows %}

        <tr>
            <td>{{row['id']}}</td>
            <td>{{row['native_english_speaker']}}</td>
            <td>{{row['course_instructor']}}</td>
            <td>{{row['course']}}</td>
            <td>{{row['semester']}}</td>
            <td>{{row['class_size']}}</td>
            <td>{{row['performance_score']}}</td>
        </tr>

        {% endfor %}
    </table>
    <a href="/">Go to Home Page</a>
    
</body>
</html>